body{
    background-color: aqua;

    .opening{
        background-color:rgb(255, 193, 34);
        text-align: center;
        h1{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 100px;
        }
        p{
            font-size: 50px;
        }
    
    
    

}

main{
    background-color: rgb(255, 255, 255);
}

}